@use 'colors';
@use 'fonts';



.intro{
	
	&__image{
		max-width: 900px;
		border: 2px solid colors.$dark;
	}
	&__sub{
		background-color: colors.$light;
		border: 2px solid colors.$dark;
		width: 60%;
		margin-top: -50px;
	}

}
.syrup{
	width: 90px;
	position: absolute;
	bottom: -20px;
	transform: rotate(-20deg);
	right: -20px;
}



/*CSS ANIMATION*/
.floating{
    animation: float 2s ease-in-out infinite;
}


@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}