@use 'colors';
@use 'fonts';



nav{
    background-color: colors.$medium;
    height: 120px;
    
}

.navbar-nav{
    a{
        color: colors.$dark !important;
    }

}

.drip{
    background-image: url(../images/vanilla2.png);
    height: 150px;
    background-repeat: repeat-x;
    margin-top: -20px;
}