nav {
  background-color: #f7cc6e;
  height: 120px;
}

.navbar-nav a {
  color: #bd5c0e !important;
}

.drip {
  background-image: url(../images/vanilla2.png);
  height: 150px;
  background-repeat: repeat-x;
  margin-top: -20px;
}