@use 'colors';
@use 'fonts';

*{
    font-family: fonts.$content;
    font-size:18px;
}

body{
    background-color: #fff09b;
    background-image: linear-gradient(90deg, #f7cc6e80 20px, transparent 20px), linear-gradient(#f7cc6e80 20px, transparent 20px);
    background-position: 10px 10px;
    background-size: 44px 44px;
}

h1{
    font-size: 70px;
    font-family: fonts.$header;
    color: colors.$dark;
}
h2 {
    font-size: 25px;
    font-family: fonts.$content;
    text-transform: uppercase;
    color: colors.$dark;
    opacity: .8;
   
}
h3{
    padding-left: 5px;
    text-align: center;
    text-transform: uppercase;
    font-family: fonts.$header;
    color: colors.$dark;
    margin-bottom: -5px;

}

h4{
    text-align: center;
    font-size: 30px;
    font-family: fonts.$content;
    text-transform: uppercase;
    color: colors.$dark;
    opacity: .8;
}

h5{
    font-size: 12px;
    font-family: fonts.$content;
    color: colors.$light;
    
}

p{
    padding: 10px;
    letter-spacing: 1.2px;
    text-align: center;
}

.body-btn{
    width: 200px;
    background-color: colors.$dark;
    border-radius: 0;
    margin-bottom: -20px;
    color: colors.$light;
    font-family: fonts.$header;
    font-size: 23px;
    letter-spacing: 2px;
    z-index: 9;
    text-transform: uppercase;
}
.body-btn:hover{
    background-color: colors.$light;
    color: colors.$dark;
    border: 2px solid colors.$dark;

}

.logo{
    width: 40px;
}
a{
    text-decoration: none;
    color: colors.$light;
}
a:hover{
    translate: 0 -10px;
    color: colors.$dark;
    opacity: .8;
}


@media screen and (max-width: 449px) {

    .search{display:none !important;}
    
}



@import 'intro';
@import 'contact';
@import 'recipes';