* {
  font-family: "Alata", sans-serif;
  font-size: 18px;
}

body {
  background-color: #fff09b;
  background-image: linear-gradient(90deg, rgba(247, 204, 110, 0.5019607843) 20px, transparent 20px), linear-gradient(rgba(247, 204, 110, 0.5019607843) 20px, transparent 20px);
  background-position: 10px 10px;
  background-size: 44px 44px;
}

h1 {
  font-size: 70px;
  font-family: "Chewy", system-ui;
  color: #bd5c0e;
}

h2 {
  font-size: 25px;
  font-family: "Alata", sans-serif;
  text-transform: uppercase;
  color: #bd5c0e;
  opacity: 0.8;
}

h3 {
  padding-left: 5px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Chewy", system-ui;
  color: #bd5c0e;
  margin-bottom: -5px;
}

h4 {
  text-align: center;
  font-size: 30px;
  font-family: "Alata", sans-serif;
  text-transform: uppercase;
  color: #bd5c0e;
  opacity: 0.8;
}

h5 {
  font-size: 12px;
  font-family: "Alata", sans-serif;
  color: #fff5e5;
}

p {
  padding: 10px;
  letter-spacing: 1.2px;
  text-align: center;
}

.body-btn {
  width: 200px;
  background-color: #bd5c0e;
  border-radius: 0;
  margin-bottom: -20px;
  color: #fff5e5;
  font-family: "Chewy", system-ui;
  font-size: 23px;
  letter-spacing: 2px;
  z-index: 9;
  text-transform: uppercase;
}

.body-btn:hover {
  background-color: #fff5e5;
  color: #bd5c0e;
  border: 2px solid #bd5c0e;
}

.logo {
  width: 40px;
}

a {
  text-decoration: none;
  color: #fff5e5;
}

a:hover {
  translate: 0 -10px;
  color: #bd5c0e;
  opacity: 0.8;
}

@media screen and (max-width: 449px) {
  .search {
    display: none !important;
  }
}
.intro__image {
  max-width: 900px;
  border: 2px solid #bd5c0e;
}
.intro__sub {
  background-color: #fff5e5;
  border: 2px solid #bd5c0e;
  width: 60%;
  margin-top: -50px;
}

.syrup {
  width: 90px;
  position: absolute;
  bottom: -20px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  right: -20px;
}

/*CSS ANIMATION*/
.floating {
  -webkit-animation: float 2s ease-in-out infinite;
          animation: float 2s ease-in-out infinite;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}
.contact {
  min-height: 500px;
}
.contact form {
  width: 80%;
}

.contact-btn {
  width: 100%;
  border: none;
}

.card-title {
  font-family: "Chewy", system-ui;
  font-size: 20px;
  text-align: center;
  color: #bd5c0e;
}

.card {
  background-color: rgba(255, 255, 255, 0.5647058824);
  border: 1px solid #f7cc6e;
}